<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Approved Notifications</h1>
    <%for(let user of users){%>
        <p><%=user.name%></p>
        <p><%=user.company%></p>
        <p><%=user.role%></p>
        <form action="/community/<%=community.id%>/adminApproval/<%=user.id%>/show" method="get">
            <button>show</button>
        </form>
    <%}%>
</body>
</html>