<%- layout('/layouts/boilerplate.ejs') %>
<style>
    body {
        background: blanchedalmond;
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    }
    
    .content-card {
        width: 100%;
        max-width: 800px;
        margin: 1rem auto;
        border-radius: 20px;
        border: 1px solid #f9d8a6;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        position: relative;
    }

    .content {
        width: 400px;
        height: 120px;
        padding: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
    }

    .title {
        padding: 5px;
        color: #ea8c00;
    }

    .content-details {
        padding: 10px;
    }

    .profile-img {
        width: 65px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    .post-form {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding: 1rem;
    }

    .form-card {
        background-color: #fee4bd;
        padding: 20px;
        border-radius: 25px;
        border: 1px solid #f9d8a6;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    .post-image {
        width: 208px;
        height: 208px;
        overflow: hidden;
    }

    .post-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .interaction-buttons {
        display: flex;
        width: 100%;
        margin-top: 1rem;
    }

    .title-input {
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        padding-left: 20px;
        background-color: #ffebcd;
    }

    .content-input {
        background-color: #ffebcd;
        border-radius: 0.75rem;
    }

    .username {
        color: #A82400;
    }

    @media (max-width: 767px) {
        .content {
            width: 100%;
            height: 90px;
        }

        .post-image {
            width: 100%;
            height: 210px;
            margin-top: 1rem;
            text-align: center;
        }

        .post-image img {
            aspect-ratio: 1/1;
        }

        .interaction-buttons {
            flex-direction: column;
            align-items: center;
        }

        .interaction-buttons button {
            margin: 0.5rem 0;
        }
    }

    @media (min-width: 768px) {
        .content-card {
            display: flex;
        }

        .content-details {
            flex: 1;
            padding: 5px;
        }

        .post-image {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }

        .post-image img {
            height: 200px;
        }

        .interaction-buttons {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

</style>

<div class="container mx-auto px-1">
    <% if(currUser) { %>
        <form action="/community/<%= community.id %>/main" method="post" enctype="multipart/form-data" class="post-form">
            <section class="form-card">
                <div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4">
                    <a href="/community/<%=community.id%>/<%=currUser.id%>/showProfile" class="self-center">
                        <img src="<%= currUser.image.url %>" class="profile-img" alt="Profile Image">
                    </a>
                    <div class="flex-grow w-full">
                        <input type="text" name="upload[title]" placeholder="Future of humanity" class="w-full title-input" required>
                        <textarea name="upload[content]" placeholder="What's your insight today?" class="w-full h-24 p-4 content-input focus:ring-2 focus:ring-[#ffe6bf] transition" required></textarea>
                        <div class="flex flex-col md:flex-row justify-between items-center mt-2 space-y-2 md:space-y-0">
                            <div class="flex space-x-4 w-full justify-start">
                                <input type="file" name="upload[image]" class="text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-[#A82400] file:text-white hover:file:bg-[#8A1F00]" required>
                            </div>
                            <button class="px-6 py-2 bg-[#A82400] text-white rounded-full w-full md:w-auto text-center">Publish</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
      
    <% } %> 
    
    <main class="space-y-5 mt-8">
        <% for(let uploadPost of newUploadPost) { %>
            <article class="content-card post-content">
                <div class="content-details">
                    <div class="flex">
                        <div class="flex p-2">
                            <a href="">
                                <img src="<%= uploadPost.user.image.url %>" class="w-12 h-12 rounded-full mr-4 border-2 border-indigo-200" alt="User Profile">
                            </a>
                            <span>
                                <h3 class="font-bold text-lg username"><%= uploadPost.user.name %></h3>
                                <p class="text-sm text-gray-500"></p>
                            </span>
                        </div>
                    </div>
                    
                    <% if(uploadPost.image && uploadPost.image.url) { %>
                        <div class="post-image">
                            <a href="<%= uploadPost.image.url %>">
                                <img src="<%= uploadPost.image.url %>" alt="Post media">
                            </a>
                        </div>
                    <% } %>
                    
                    <div class="mb-1 mt-1">
                        <h2 class="title text-xl font-bold mb-1 text-gray-900"><%= uploadPost.title %></h2>
                        <p class="content text-gray-600"><%= uploadPost.content %></p>
                    </div>
                    
                    <div class="interaction-buttons">
                        <div class="flex space-x-4 text-gray-600 ml-3">
                            <button class="flex items-center">
                                <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                </svg>
                                <span>Likes</span>
                            </button>
                            <button class="flex items-center">
                                <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                                </svg>
                                <span>Comments</span>
                            </button>
                            <button class="flex items-center">
                                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8m5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707z"/>
                                </svg>
                                <span>Share</span>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        <% } %>
    </main>
</div>