<%layout('/layouts/boilerplate')%>
<style>
    .container {
        height: auto;
        width: min(500px, 95%);
        border: 1px solid #f9d8a6;
        border-radius: 15px;
        background-color: #fee4bd;
        margin: 23px auto;
        padding: 20px;
    }
    .heading{
        text-align: center;
        margin: 10px auto;
        font-size: larger;
        font-weight: bolder;
        width: fit-content;
    }
    .btn{
        border: 2px solid #f9d8a6;
    }
    .userImg{
        gap: 250px;
    }

    @media (max-width: 768px) {
        .container {
            width: min(90%, 450px);
        }
        .userImg{
            gap: 200px;
        }
    }

    @media (max-width: 430px){
        .container{
            width: min(95%, 390px);
        }
        .userImg{
            gap: 100px;
        }
    }
</style>
<body>
    <div>
        <h1 class="heading" style="color: #ea8c00;">Membership request</h1>
        <%for(let user of users){%>
            <div class="container">
                <div>Name: <%=user.name%></div>
                <div class="flex">
                    <span>Role: <%=user.role%></span>
                    <!-- <img src="<%=user.image.url%>" alt="img" style="height: 52px; width: 52px;"> -->
                </div>
                <div class="flex userImg">
                    <span>Company: <%=user.company%></span>
                    <img src="<%=user.image.url%>" alt="img" style="height: 75px; width: 75px; border-radius: 15px;">
                </div>
                <form action="/community/<%=community.id%>/adminApproval/<%=user.id%>/show" method="get">
                    <button class="btn mt-2">see</button>
                </form>
            </div>
        <%}%>
    </div>
</body>
</html>